Flask
Flask-Login
Flask-PyMongo
Flask-SocketIO
Werkzeug
pymongo
python-dotenv
passlib
requests
fpdf
gunicorn
gevent
gevent-websocket
python-socketio
dnspython
python-engineio
Jinja2
MarkupSafe
itsdangerous
click
blinker
certifi
charset-normalizer
idna
urllib3
six
bidict
greenlet
zope.event
zope.interface
